.search-results {
    height: 600px;
    position: relative;

    .map {
        width: 100%;
        height: 100%;
    }

    .cusine-list {
        margin:  0;
        position: absolute;
        top: 1.25rem;
        bottom: 1.25rem;
        right: 0;
        width: 35%;
        opacity: 1;
        border-radius: 0;
        border: none;
        overflow: auto;

        &__logo {
            margin: 0 0 10px 0;
            padding: 0 0 10px 0;
            text-align: center;
            border-bottom: 1px solid #eee;

            &__img {
                width: 50px;
            }
        }
    }


    .cusine-items {
        overflow: scroll;
        &__item {
            padding: 15px 10px;
            border: 1px solid #eee;
            border-bottom: 0;

            &:last-of-type {
                border-botom: 1px solid #eee;
            }

            .item-name {
                text-decoration: underline;
            }

            .item-score {
                float: right;
                color: red;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    border: 1px solid red;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .map {
        position: relative;

        &:after {
            position: absolute;
            content: '';
        }


        &-score {
            color: $primary;
        }

        &__wrapper {
            position: relative;
            height: calc(100%);
        }

        &__text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #eee;
             transition: opacity .5s;

            .text {
                text-align: center;
                color: #000;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
